<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="Tooplate">

        <title>ArtPark - 홍세연 Artist Page</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">

        <link href="{% static 'css/tooplate-waso-strategy.css' %}" rel="stylesheet">
    </head>
    
    <body class="projects-detail-page" id="section_1">
        <!-- 상단 웹사이트 이름과 메뉴 버튼들 -->
        <nav class="navbar navbar-expand-lg bg-white shadow-lg">
            <div class="container">

                <a href='home' class="navbar-brand">ArtPark</span></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <main>
            <!-- 작가 이름 (그림 바꾸기) -->
            <section class="hero selection-artist-page-hong section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12 text-center mx-auto">
                            <div class="section-hero-text">
                                <!-- <small class="small-title text-warning">홍세연</small> -->


                                <h1 class="text-white">홍세연</h1>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="wrapper">
                <div class="container">
                    <div class="row gtr-200">
                        
                        <!-- 왼쪽 사이드 바 -->
                        <div class="col-lg-4" id="sidebar">
                            <section>
                                <div class="row gtr-50">
                                    <header>
                                        <h5><a href="#">현재 진행중인 전시회</a></h5>
                                    </header>
                                    <!-- <a class="image fit"><img src="images/artist_page_hong/current.jpg" alt=""/></a> -->
                                    <a class="image fit"><img src="https://yjk-s3-bucket.s3.amazonaws.com/images/artist_page_hong/current.jpg" alt=""/></a>
                                    <div class="col-9">
                                        <h6><br>평화와 공존, <br>우리가 꿈꾸는 파라다이스</h6>
                                        <b-text>
                                            '원초의 숲과 야생의 동물'을 주제로 '이상향의 세계'를 표현한 특별한 미술 전시회
                                        </b-text>
                                    </div>
                                    
                                </div>
                                <footer style="margin-bottom: 20px;">
                                    <a href="exhibition1" class="art_button">전시회로 이동</a>
                                </footer>
                                
                            </section>

                            <hr />

                            <section>
                                <header>
                                    <h5><a href="#">학력</a></h5>
                                </header>
                                <b-text><p>
                                    1993년 ~ 1998년 <br>홍익대학교 대학원 회화과 (졸업)<br>
                                    1998년 ~ 2005년 <br>홍익대학교 대학원 회화과 (졸업)<br>
                                    2005년 ~ 2011년 <br>홍익대학교 미술대학 회화과 (졸업)
                                </p></b-text>

                                <hr/>

                                <header>
                                    <h5><a href="#" >사이트</a></h5>
                                </header>
                                <h5><p>
                                    <img src="https://yjk-s3-bucket.s3.amazonaws.com/images/naverBlog_ic.png" width="40" height="40"/> <a href="https://blog.naver.com/ghdtp73"> 홍세연 블로그</a>
                                </p></h5>
                            </section>
                        </div>

                        <!-- 오른쪽 큰 화면 -->
                        <div class="col-lg-8 col-12-mobile imp-mobile" id="content">
                            <article id="main">
                                <header>
                                    <h2><a href="#">홍세연  Hong-Se-Yeon</a></h2>
                                    <p>
                                        회화라는 장르를 작업해오며, 작품의 사회적 기능에 대해서도 이상적 지향점을 모색하고 있습니다.
                                    </p>
                                </header>
                                <a href="#" class="image featured"><img src="https://yjk-s3-bucket.s3.amazonaws.com/images/services/painter2.jpg" alt="" /></a>
                                <p>
                                    안녕하세요, 작가 홍세연입니다. 홍익대학교에서 회화를 전공한 뒤, 저만의 예술적 세계를 창조하고자 다양한 전시와 창작 활동에 전념해왔습니다. 
                                    저의 작품은 뜨거운 감정과 현대적 시각이 어우러져 고유하게 표현되며, 섬세한 감성을 담아내는 것에 주력하고 있습니다. 
                                    예술을 통해 다양한 주제와 감정을 소통하며, 관객들과 공감대를 형성하는 것이 제 목표입니다. 
                                    <br>많은 이들에게 저의 작품을 통해 새로운 감동을 전하고 싶습니다. 감사합니다.
                                </p>
                                <section>
                                    <header>
                                        <h4>2020 전시 개인전: The Forest</h4>
                                    </header>
                                    <b-text>
                                        저의 2020 전시개인전 "The Forest"는 저만의 예술적 세계를 표현한 특별한 순간이었습니다. 
                                        이 작품에서는 숲의 아름다움과 자연의 소리를 그림으로 담아내어, 관객들에게 고요하고 감성적인 여행을 선사했습니다. 
                                        각 작품은 자연의 다양한 표정과 감정을 담아내며, 제 자신과 자연과의 소통을 통해 탄생한 특별한 작품이었습니다. 
                                        <br>"The Forest"는 저에게 예술적인 탐험과 성장을 담은 소중한 기념비적인 전시로 기억됩니다. 
                                        이 작품을 통해 관람객들에게는 저만의 작은 숲으로의 초대와 공감을 전하고자 하였습니다.
                                    </b-text>
                                </section>
                                <section>
                                    <header>
                                        <h4>2021 전시 개인전: The Healing</h4>
                                    </header>
                                    <b-text>
                                        제 2021 전시개인전 "The Healing"은 도시 생활의 속죄와 평화에 초점을 맞춘 특별한 전시입니다. 
                                        이번 작품에서는 도시의 소음과 바쁜 일상에서 찾은 치유와 평온의 순간을 그림으로 표현했습니다. 
                                        "The Healing"은 다양한 매체와 기술을 활용하여 나만의 정서적 표현과 예술적 실험을 결합한 결과물을 선보이고 있습니다. 
                                        각 작품은 자연의 소재와 도시의 현실을 조합하여 독특한 시각적 언어를 만들었습니다. 
                                        <br>이 작품을 통해 도시 생활에서의 치유와 평화를 탐험하며, 나만의 작은 공간에서 예술적인 안식처를 찾아가길 바랐습니다. 
                                        "The Healing"은 도전과 휴식을 조화롭게 품은 나만의 예술적 신선성을 담아내어 현대인들에게 감성적인 치유를 전하고자 합니다. 
                                    </b-text>
                                </section>
                            </article>
                        </div>

                        <hr />

                        <!-- 하단 글과 그림들 -->
                        <div class="row">
                            <div class="col-lg-10 col-12 text-center mx-auto mb-4">
                                <h2>작가의 인기 작품 소개</h2>
                            </div>
                            <!-- 1번째 -->
                            <article class="col-4 col-12-mobile special">
                                <a href="#" class="image featured"><img src="https://yjk-s3-bucket.s3.amazonaws.com/images/artist_page_hong/artwork1.jpg" alt="" width="90%" height="90%"/></a>
                                <header>
                                    <h3><a href="#">Regained Paradise 1</a></h3>
                                </header>
                                <b-text>
                                    저에게 숲은 가정과 가족의 은유이기도 하다.
                                    은밀하고도 평화로운 장소. 자연과 자신이 하나라는 것. ‘여성=집=자궁’이라는 등식이 숲으로 치환된다.
                                    숲은 잉태와 축복의 장소가 되며, 생명체들이 살아 숨쉬는 곳이다.
                                </b-text>
                            </article>

                            <!-- 2번째 -->
                            <article class="col-4 col-12-mobile special">
                                <a href="#" class="image featured"><img src="https://yjk-s3-bucket.s3.amazonaws.com/images/artist_page_hong/artwork2.jpg" alt="" width="90%" height="90%"/></a>
                                <header>
                                    <h3><a href="#">Regained Paradise 2</a></h3>
                                </header>
                                <b-text>
                                    작품에는 숲 속에 표범과 얼룩말을 자주 등장시킨다.
                                    야생의 동물들은 제 자신이기도 하고, 제가 그리는 이상향의 주인공이기도 하다.
                                    ‘평화와 공존’을 추구하는 이상향의 우주이고, 우리가 잃어버린, 혹은 꿈꾸는 ‘낙원’의 주인공들이기도 하다.
                                </b-text>
                            </article>

                            <!-- 3번째 -->
                            <article class="col-4 col-12-mobile special">
                                <a href="#" class="image featured"><img src="https://yjk-s3-bucket.s3.amazonaws.com/images/artist_page_hong/artwork3.jpg" alt="" width="90%" height="90%"/></a>
                                <header>
                                    <h3><a href="#">Regained Paradise 3</a></h3>
                                </header>
                                <b-text>
                                    제가 작품마다 붙여놓은 ‘Regained Paradise’(되찾은 낙원)이라는 제목은 작업이 삶과 연결 된다는 의미다.
                                    일상, 삶, 꿈, 세계가 모두 다 이어져있다는 것이다.
                                    삶과 성찰 그리고 성찰 이후에 다시 삶으로 돌아오는 저의 일상이 바로 이상과 꿈이 될 수 있다는 뜻이다.
                                </b-text>
                            </article>
                        </div>

                    </div>
                </div>
            </section>

        </main>

        <!-- JAVASCRIPT FILES -->
        <script src="{%static 'javascript/jquery.min.js' %}"></script>
        <script src="{%static 'javascript/bootstrap.min.js' %}"></script>
        <script src="{%static 'javascript/jquery.sticky.js' %}"></script>
        <script src="{%static 'javascript/jquery.magnific-popup.min.js' %}"></script>
        <script src="{%static 'javascript/magnific-popup-options.js' %}"></script>
        <script src="{%static 'javascript/click-scroll.js' %}"></script>
        <script src="{%static 'javascript/custom.js' %}"></script>

    </body>
</html>
