<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="Tooplate">

        <title>전시회</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">

        <link href="{% static 'css/tooplate-waso-strategy.css' %}" rel="stylesheet">

        <link href="{% static 'css/soyeon.css' %}" rel="stylesheet">


<!--

Tooplate 2130 Waso Strategy

https://www.tooplate.com/view/2130-waso-strategy

Free Bootstrap 5 HTML Template

-->

    </head>
    
    <body class="projects-detail-page" id="section_1">
        <nav class="navbar navbar-expand-lg bg-white shadow-lg">
            <div class="container">
                <!-- 사이드바 제거함 -->

                <a href="../home" class="navbar-brand">ArtPark</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <main>
            <!-- 사진 부분 -->
            <section class="projects section-padding">
                <div class="container">
                    <div style="display: flex; justify-content: center;"> 
                        <div class="col-lg-6 col-12 mb-5">
                            <h2 class="mt-3 mb-1" style="text-align: center;"> 반영 : Reflection  </h2> <br><br>
                            <p style="text-align: center;"> 입장 티켓 click ▼</p>
                            <img src="https://yjk-s3-bucket.s3.amazonaws.com/images/artist_page_yoo/current_exhibition.png" class="img-fluid projects-image" alt="" onclick="location.href='1page';">
                        </div>
                    </div>
                </div>
            </section>

        </main>


        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/magnific-popup-options.js"></script>
        <script src="js/click-scroll.js"></script>
        <script src="js/custom.js"></script>
    </body>
</html>

